@import url(https://fonts.googleapis.com/css?family=VT323);
$theme: rgb(0, 132, 132);
$gray: #c0c0c0;

.browserContainer {
  iframe {
    width: 80vw;
    height: 80vh;
  }
  input[type="text"] {
    font-family: VT323;
    font-size: 19px;
    height: 30px;
    width: 85%;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-bottom: 2px gray solid;
    border-right: 2px gray solid;
    margin-left: 2px;
  }
  button[type="submit"] {
    margin-left: 2px;
    background-color: $gray;
    padding-bottom: 7px;
  }
  .actionMenu {
    display: flex;
    flex-direction: row;
    border: 1px black solid;

    .icon {
      height: 30px;
      width: 30px;
    }

    button {
      background-color: $gray;
      height: 40px;
      padding: 2px;
      flex: 1;
      display: flex;
    }
  }
  .icon {
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .searchBar {
    width: 100%;
  }
}
